<%- include('../patents/partials/header') %>

<div class="container">
    <%- include('../messageError.ejs') %>
    <h1>What would you like to do?</h1>
    <hr>
    <div class="dashboard">
        <h2>Patents</h2>
        <div class="dashboard-patents">
            <a href="/patents/new">
                <button>Add</button>
            </a>
            <form action="/admin/dashboard" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="manageMode" value="edit">
                <button type="submit">Edit</button>
            </form>
            <form action="/admin/dashboard" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="manageMode" value="delete">
                <button type="submit">Delete</button>
            </form>
        </div>
        <h2>Products</h2>
        <div class="dashboard-products">
            <a href="/products/new">
                <button>Add</button>
            </a>
            <a href="/products">
                <button>Edit/Delete</button>
            </a>
        </div>
        <h2>Public Disclosures</h2>
        <div class="dashboard-disclosures">
            <a href="/disclosures">
                <button>Manage</button>
            </a>
        </div>
    </div>
    <p>Logged in as: <%= user %></p>
    <a href="/admin/logout" class="go-back-btn"><button>Logout</button></a>
</div>

<%- include('../patents/partials/footer') %>