<%- include('../patents/partials/header') %>

<div class="container">
    <%- include('../messageError.ejs') %>
    <h1>Success! You are now logged in as:</h1>
    <h2><%= user %></h2>
    <a href="/admin/dashboard" class="go-back-btn"><button>Go to Dashboard</button></a>
</div>

<%- include('../patents/partials/footer') %>