<%- include('../patents/partials/header') %>

<div class="container">
    <%- include('../messageError.ejs') %>
    <h1>Employee Patent Management</h1>
    <div class="login-list">
        <p>What can I do?</p>
        <ul class="login-list">
            <li>Post new patents</li>
            <li>Edit or remove existing patent postings</li>
            <li>View & respond to public disclosures</li>
        </ul>
    </div>
    <h3>Authenticate by clicking the link received in your e-mail:</h3>
    <form action="/admin/login" method="POST" enctype="multipart/form-data">
        <input class="show-inline-block" type="text" name="email">
        <p id="domain" class="show-inline-block">@<%= domain %></p>
        <button class="login-button" type="submit">Send link to e-mail</button>
    </form>
</div>

<%- include('../patents/partials/footer') %>