<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/patents/main.css">
    <title>HDP - IP Listings</title>
</head>

<body>
    <div id="header">
        <div>
            <a href='/' id="header-brand"><img
                    src="https://www.pinclipart.com/picdir/middle/345-3456213_founding-members-of-the-lifestyle-medicine-corporate-kashi.png"
                    alt=""></a>
            <h1>Intellectual Property</h1>
        </div>
        <div>
            <p>powered by</p>
            <a href="https://www.hdp.com"><img src="https://www.hdp.com/assets/images/logo-hdp.png" alt="" /></a>
        </div>
    </div>