<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <title>Test Page</title>
</head>

<body>
    <h1>HD&P Patent Listings and Disclosures</h1>
    <a href="/patents"><button>Patent Listings Site</button></a>
    <a href="/disclosures/got-an-idea"><button>Disclosures Site</button></a>
</body>

</html>