html, body {
    background-color: rgb(42, 42, 42);
    color: white;
    position: relative;
}

button {
    font-size: 30px;
}

a {
    text-decoration: none;
    display: block;
    margin: 1em 1em 1em 0;
}
