:root {
    --cream-white: rgb(209, 209, 209);
    --hybrid-white: rgb(219, 219, 219);
    --bright-white: rgb(228, 228, 228);
    --hdp-blue: #004990;
}

html, body {
    color: black;
    background-color: var(--cream-white);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    min-height: 100vh;
    max-width: 100vw;
}

.container {
    padding: 4vh 2vw 2vh;
    background-color: var(--cream-white);
    margin: 0 20vw;
    min-height: 65vh;
}

div.container h1 {
    margin-top: 0;
    font-size: 2.5em;
    font-weight: 300;
}

.gridContainer {
    display: grid;
    padding: 4vh 2vw 2vh;
    background-color: var(--cream-white);
    margin: 0 20vw;
    min-height: 65vh;
}

.message {
    padding: 1rem;
    text-align: center;
    color: white;
    font-weight: bold;
}

.errorMessage {
    background-color: rgb(184, 0, 0);
}

/* GOT AN IDEA PAGE */

.hide {
    display: none;
}

.show-block {
    display: block;
}

.show-grid {
    display: grid;
}

.show-inline-block {
    display: inline-block;
}

h1#got-idea {
    font-weight: 400;
    font-size: 2.7em;
    margin-bottom: 0;
    color: var(--hdp-blue);
}

h1#got-idea+hr {
    margin-bottom: 2.5em;
}

h1#got-idea+hr+p {
    font-size: 1.2em;
    background-color: grey;
    padding: 1em;
    color: white;
    margin-bottom: 2.0em;
}

/* NOTICE PAGE */

div#notice-page>* {
    font-size: 1.1rem;
    font-weight: 400;
}

div#notice-page h1 {
    font-size: 3.0em;
    color: var(--hdp-blue);
}

div#notice-page p a {
    text-decoration: none;
    color: var(--hdp-blue);
}

h2#do-not-accept, h2#please-protect {
    font-size: 1.3em;
    margin: 0.5em 0;
    padding: 1em;
    background-color: grey;
    color: var(--bright-white);
}

ul#do-not-accept {
    display: block;
    list-style: inside;
    border: none;
    background: none;
    margin: 0;
}

ul#do-not-accept li {
    font-size: 1.0em;
    padding: 0;
    margin: 0;
    color: black;
    margin-bottom: 0.5em;
}

div#notice-page ol li {
    margin-bottom: 0.5em;
}

/* NEW FORM */

label, input {
    display: block;
}

label {
    color: var(--hdp-blue);
    font-weight: bold;
    margin: 0.3em 0.3em 0.9em 0;
    text-align: left;
}

input {
    background-color: var(--hybrid-white);
    border: 2px solid grey;
    border-radius: 0;
    font-size: 1.0em;
    padding: 0.4em;
}

input:hover, input:focus {
    border: 2px solid var(--hdp-blue);
}

form>* {
    display: block;
}

form h3 {
    font-weight: 400;
}

form button {
    color: var(--hdp-blue);
    border: 2px solid var(--hdp-blue);
}

form button:hover {
    color: var(--bright-white);
    background-color: var(--hdp-blue);
}

form label a {
    color: var(--hdp-blue);
}

textarea {
    display: inherit;
    background-color: var(--hybrid-white);
    border: 2px solid grey;
}

textarea:hover, textarea:focus {
    border: 2px solid var(--hdp-blue);
}

#form-title {
    width: 40vw;
}

button[type=submit] {
    display: inline-block;
}

/* SUBMITTED PAGE */

div#submitted-page {
    font-size: 1.3rem;
}

div#submitted-page p {
    margin-bottom: 1.8em;
}

/* INDEX PAGE */

h1#search-disclosures {
    margin-top: 0.3em;
}

.search-bar {
    display: inline-block;
    padding-left: 1em;
    border: 2px solid grey;
    border-radius: 0;
    font-size: 1.1em;
    width: 95%;
}

.search-bar:hover, .search-bar:focus {
    padding-left: 1em;
    border: 2px solid var(--hdp-blue);
    border-radius: 0;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: transparent;
    color: white;
    border: 2px solid white;
    padding: 0.5em 1em;
}

ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    row-gap: 1em;
    grid-template-areas: "title title title title" "grant expire . .";
    list-style: none;
    padding: 1.0em;
    margin: 2em 0;
    color: var(--bright-white);
    font-weight: 400;
    background-color: grey;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

ul:hover {
    border: 2px solid var(--hdp-blue);
}

ul li {
    padding: 0.3em;
    margin: 0;
}

ul li:first-child {
    grid-area: title;
    font-size: 1.5em;
}

ul li:first-child a {
    color: var(--bright-white);
    text-decoration: none;
}

ul li:first-child a:hover {
    text-decoration: underline;
}

ul li:nth-child(2) {
    grid-area: grant;
}

ul li:nth-child(3) {
    grid-area: expire;
}

.go-back-btn button {
    color: var(--hdp-blue);
    border: 2px solid var(--hdp-blue);
    background: transparent;
}

.go-back-btn button:hover {
    background-color: var(--hdp-blue);
    color: var(--bright-white);
}

/* SHOW PAGE */

#grid-showpage-header {
    grid-template-columns: 7fr 1fr 1fr;
    grid-auto-rows: 3vh;
    align-items: center;
    font-size: 0.8em;
    background: none;
    padding: 0;
}

#url {
    padding: 0.4em 0.7em;
    margin: 0;
    border: 2px solid grey;
    justify-self: right;
}

#copy-url-btn {
    padding: 0.4em 0.7em;
    margin: 0;
    color: var(--hdp-blue);
    background: transparent;
    border: 2px solid var(--hdp-blue);
    justify-self: left;
}

#copy-url-btn:hover {
    color: var(--bright-white);
    background-color: var(--hdp-blue);
}

h1#pat-num-showpage {
    font-weight: 400;
    font-size: 2.5em;
    margin-top: 0.5em;
}

/* quick info section */

div.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.0em;
    background-color: var(--hdp-blue);
    padding: 1em;
    color: var(--bright-white);
    font-size: 1.1em;
    font-weight: 400;
}

div.grid p {
    margin: 0;
}

a.attachment-link {
    color: var(--hdp-blue);
    text-decoration: none;
}

a.attachment-link:hover {
    color: orange;
}

/* delete and update response  */

div#disclosure-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div#disclosure-actions div h3 {
    font-weight: 400;
}

form#disclosure-response input {
    display: inline;
}

form#disclosure-response button {
    display: block;
    margin-top: 0.8em;
}

form button.delete-btn {
    display: none;
    margin-top: 0.5em;
    color: red;
    border: 2px solid red;
}

form button.delete-btn:hover {
    background-color: red;
    color: white;
}

/* description etc... */

section:first-of-type>p {
    margin-top: 1.5em;
    font-size: 1.0em;
    font-weight: 400;
}

section:first-of-type>div:last-of-type {
    color: var(--bright-white);
    font-weight: 400;
    background-color: grey;
    padding: 1.0em;
    margin-top: 1.5em;
}

/* full contact info */

section+section {
    margin-top: 2.0em;
}

section+section p {
    color: var(--hdp-blue);
    font-weight: 400;
}

section+section p:first-child {
    font-size: 1.2em;
    text-decoration: underline;
    margin-top: 0;
}

section+section p:last-child {
    margin-bottom: 0;
}

/* HEADER PARTIAL */

div#header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    min-height: 20vh;
    position: relative;
    z-index: 1;
}

div#header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('https://images.unsplash.com/photo-1569766670290-f5581d3bb53f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1379&q=80');
    background-size: cover;
    background-position: center;
    opacity: 0.4;
}

div#header div:first-of-type {
    margin-left: 10vw;
}

div#header div:nth-of-type(2) {
    justify-self: start;
}

div#header div a {
    grid-area: brand;
    justify-self: end;
    padding-right: 1.0rem;
}

div#header div h1 {
    grid-area: title;
    justify-self: start;
    font-size: 3.3em;
    font-weight: 400;
    display: inline;
}

div#header div p {
    font-weight: 400;
    display: inline;
    padding-top: 4vh;
    margin-right: 1vw;
}

div#header div:first-of-type a img {
    height: 10vh;
}

div#header div:nth-of-type(2) a img {
    padding-top: 8vh;
    height: 5vh;
}

/* FOOTER PARTIAL */

.footer-hr {
    margin: 0.1vh 0 2.0vh 0;
}

.footer-brand {
    margin: 0 1em 0 20vw;
}

.footer-a {
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--hdp-blue);
    padding-bottom: 2px;
    margin-bottom: 2.0vh;
    color: var(--hdp-blue);
    font-weight: 400;
}

/* JUST FOR THE HEADER */

@media(max-width: 1300px) {
    div#header {
        grid-template-columns: 1fr;
        row-gap: 1.5em;
    }
    div#header div:first-of-type {
        padding-top: 4vh;
    }
    div#header div:nth-of-type(2) {
        justify-self: end;
        margin: auto 6vw 0;
        align-self: center;
    }
    div#header div:nth-of-type(2) p {
        vertical-align: top;
    }
    div#header div:nth-of-type(2) a img {
        padding: 0 0 3vh 0;
    }
}

/* SMALL DISPLAY */

@media(max-width: 900px) {
    .container {
        text-align: center;
        background-color: var(--cream-white);
        margin: 0;
        padding: 3vh 1vw 2vh;
    }
    .search-bar {
        grid-area: input;
        width: 85%;
    }
    #form-title {
        width: 40vw;
    }
    .go-back-btn {
        justify-self: left;
    }
    form#disclosure-response button {
        margin: 0.9em auto 0;
    }
    .footer-a {
        margin: 0.5em 1em 0 20vw;
    }
    .footer-a:last-of-type {
        margin-bottom: 3vh;
    }
}

/* MOBILE DISPLAY */

@media(max-width: 600px) {
    div#header h1 {
        font-size: 2.0em;
    }
    .container {
        padding-top: 2vh;
        text-align: center;
    }
    .container h1 {
        margin-top: 0;
    }
    .search-bar {
        width: 80%;
    }
    #grid-showpage-header {
        display: none !important;
    }
    .footer-brand {
        margin: 0 1em 0 10vw;
    }
    button.login-button {
        display: inline-block;
        margin-left: 1vw;
    }
}