<%- include('./partials/header') %>

<div class="container">
    <h1 id="got-idea">Got an idea? Let us know.</h1>
    <hr>
    <p>
        M Corporation receives many new ideas each year. In order to review these, we have a strict process that
        balances
        your interests and rights with those of M Corporation. In return for your acceptance of the
        Idea Submission Rules and Terms and Conditions, we offer a non-confidential, preliminary evaluation of your
        submission.
    </p>
    <a href="/disclosures/notice" class="go-back-btn"><button>Submit My Idea <span>></span></button></a>
</div>

<%- include('./partials/footer') %>