<%- include('./partials/header') %>

<div class="container">
    <%- include('../messageError.ejs') %>
    <!-- Static -->
    <a href="/admin/dashboard" class="go-back-btn"><button>Go Back</button></a>
    <h1 id="search-disclosures">Search Disclosures:</h1>
    <section>
        <input type="text" class="search-bar" placeholder="Title">
    </section>
    <!-- Disclosures -->
    <% for (const disclosure of disclosures) { %>
    <ul class="show-block">
        <li id="title-showpage" class="show-block">
            <a href="/disclosures/<%= disclosure._id %>">
                <%= disclosure.title %>
            </a>
        </li>
        <% if (disclosure.patentPending) { %>
        <li class="show-block">Patent Pending: Yes</li>
        <li class="show-block">Patent Number: <%= disclosure.patentNumber %></li>
        <% } else { %>
        <li class="show-block">Patent Pending: No</li>
        <% } %>
        <li class="show-block">Classification: <%= disclosure.classification %></li>
        <li class="show-block">Type: <%= disclosure.type %></li>
        <li id="disclosure-submit-date" class="show-block">Date Submitted:
            <%= disclosure.submitDate.toISOString().split('T')[0] %></li>
        <% if (disclosure.response) { %>
        <li class="show-block">Sent response: Yes</li>
        <% } else { %>
        <li class="show-block">Sent response: No</li>
        <% } %>
    </ul>
    <% } %>
</div>

<script type="module" src="/scripts/disclosures/index.js"></script>
<%- include('./partials/footer') %>