<%- include('./partials/header') %>

<div class="container">
    <%- include('../messageError.ejs') %>
    <a href="/disclosures/notice" class="go-back-btn"><button>Go Back</button></a>
    <h2>Idea Submission Form</h2>
    <hr>
    <form action="/disclosures" method="POST" enctype="multipart/form-data">
        <h3>Author Details</h3>
        <label class="author" for="">First Name
            <input class="author" type="text" name="author.firstName" required>
        </label>
        <label class="author" for="">Last Name
            <input class="author" type="text" name="author.lastName" required>
        </label>
        <label class="author" for="">Email Address
            <input class="author" type="email" name="author.email" required>
        </label>
        <label class="author" for="">Street Address
            <input class="author" type="text" name="author.address1">
        </label>
        <label class="author" for="">Address Line 2
            <input class="author" type="text" name="author.address2">
        </label>
        <label class="author" for="">City
            <input class="author" type="text" name="author.city">
        </label>
        <label class="author" for="">State/Province/Region
            <input class="author" type="text" name="author.state">
        </label>
        <label class="author" for="">Postal Code
            <input class="author" type="text" name="author.zip">
        </label>
        <label class="author" for="">Country
            <input class="author" type="text" name="author.country">
        </label>
        <label class="author" for="">Phone Number
            <input class="author" type="text" name="author.phone">
        </label>
        <label for="">Employee Verification
            <input type="checkbox" value="I verify that I am NOT an employee of M Corporation" required>
        </label>
        <label for="">Terms and Conditions (Please
            read the full terms and conditions <a href="#">here</a>)
            <input type="checkbox" value="I agree to the terms and conditions" name="terms" required>
        </label>
        <h3>Idea and Patent Details</h3>
        <label for="">Idea Classification
            <select name="classification" id="" required>
                <option value="" selected="selected">-- Choose a Classification --</option>
                <option value="New Product">New Product</option>
                <option value="Product Improvement">Product Improvement</option>
            </select>
        </label>
        <label for="">Title of Idea
            <input type="text" name="title" required>
        </label>
        <label for="">Idea Description
            <textarea name="description" id="" cols="30" rows="8" required></textarea>
        </label>
        <label for="">Attach a file:
            <p style="margin: 0.1em;">Max file size 2MB, .pdf or .zip only</p>
            <input type="file" name="attachment">
        </label>
        <label for="">Patent Pending
            <label for="">Yes
                <input type="radio" name="patentPending" value="true" required>
            </label>
            <label for="">No
                <input type="radio" name="patentPending" value="false" required>
            </label>
        </label>
        <label for="">Country Filed
            <input type="text" name="country">
        </label>
        <label for="">Type of Application
            <select name="type" id="" required>
                <option value="" selected="selected">-- Choose a Type --</option>
                <option value="Invention">Invention</option>
                <option value="Design">Design</option>
                <option value="Other">Other</option>
            </select>
        </label>
        <label for="">Patent or Publication Number
            <input type="text" name="patentNumber">
        </label>
        <input class="submit-date" type="hidden" name="submitDate" value="">
        <input type="hidden" name="response" value="false">
        <button type="submit">Submit ></button>
    </form>

</div>

<script src="/scripts/new.js"></script>
<%- include('./partials/footer') %>
