<%- include('./partials/header') %>

<div id="notice-page" class="container">
    <h1>Welcome to the M Corporation idea submission website.</h1>
    <p>This site is being made available to you for the purpose of submitting certain types of ideas and information
        (your "Submission") to M Corporation on a <strong>NON-CONFIDENTIAL BASIS.</strong></p>
    <p>While we welcome your submission, we are sure you appreciate M Corporation invests substantial resources in
        innovation - improving existing products and creating new products. Therefore we need to be certain you fully
        understand the conditions under which we can consider your submission consistent with our obligation to protect
        the Company, its shareholders, and its already considerable investment in innovation.</p>
    <p>Before you go any further and submit any information, we ask that you carefully read what follows and assure us
        that you fully understand and accept the terms and conditions which will unqualifiedly apply to any submissions
        you make, today or in the future. (If you are a current employee of M Corporation please <a href="#">click
            here</a>.)</p>
    <h2 id="do-not-accept">WE DO NOT ACCEPT SUBMISSIONS OF THE FOLLOWING TYPES UNDER ANY CIRCUMSTANCES:</h2>
    <ul id="do-not-accept">
        <li>CONFIDENTIAL INFORMATION AND TRADE SECRETS of any type - We cannot stress this enough. Please do not submit
            any information you consider confidential or where you expect us to restrict our uses. The only exception to
            this is if you disclose an invention claimed in an issued valid patent - and then you need to tell us about
            the existence of your patent. Should there be any follow up communications or submissions please understand
            that these will not be received on a confidential basis unless these are made after there is a written
            agreement signed by you and an authorized representative of M Corporation.</li>
        <li>Advertising Marketing or Promotional Ideas - such as ideas for commercials, slogans, jingles, contests or
            the like</li>
        <li>Software of any kind - source code, object code, firmware or otherwise</li>
        <li>Ways of conducting our business or selling our products</li>
        <li>Purely aspirational ideas or product characteristics (a food waste disposer that does not vibrate with use;
            a disposer that is completely silent; a food waste disposer that doesn't require energy to run)</li>
        <li>Product names </li>
    </ul>
    <h2 id="please-protect">PLEASE PROTECT YOUR IDEA BEFORE YOU SUBMIT IT TO US.</h2>
    <p>As noted above, unless your idea is protected by a valid patent, we cannot agree to restrict our use. We strongly
        recommend that you consult an intellectual property professional before you submit your idea to us. (The cost of
        such advice is, of course, your sole responsibility.) Again, we cannot agree to restrict disclosure of your idea
        under any circumstances, even if it is protected by a patent or registered design. And even if patented, you
        agree that we have a license to use your idea in connection with our evaluation.</p>
    <p>In addition to the limitations above, by clicking the "ACCEPT TERMS AND CONTINUE" button and/or submitting your idea you (on behalf
        of yourself, your family, your heirs and/or assigns) unconditionally make the following representations and
        agree to the following:</p>
    <ol>
        <li><strong>AGE </strong>I am eighteen years or older.</li>
        <li><strong>ORIGINALITY </strong>I believe that my Submission is original and created by me and I am free to
            disclose it to M Corporation.</li>
        <li><strong>NO OTHER CONTRACTUAL OR EMPLOYMENT RELATIONSHIPS </strong>I am not a supplier, vendor, or consultant
            to M Corporation. I am not an employee of M Corporation.</li>
        <li><strong>NO CONFIDENTIALITY </strong>Again, only non-confidential information is included in my Submission
            and any additional information I provide after my initial Submission. There will be no restrictions on M
            Corporation's disclosure of the information I provide. M Corporation's use of my Submission will only be
            limited by a valid patent. However, even if I have a valid patent, I acknowledge that I am granting a
            license to M Corporation for the limited purpose of evaluating my Submission.</li>
        <li><strong>FURTHER DISCUSSION </strong>If M Corporation is interested in obtaining further details about my
            Submission, an M Corporation representative will contact me. All information disclosed by me in such further
            discussions will also be non-confidential as well. If, in the future, both M Corporation and I agree that it
            is necessary and appropriate for me to provide confidential information, then we will enter into a written
            confidentiality agreement signed by me and an authorized representative of M Corporation. I acknowledge and
            agree that M Corporation will only receive and treat information as confidential if the information is
            disclosed after the effective date of such a written agreement.</li>
        <li><strong>EVALUATION </strong>M Corporation has no obligation to evaluate my Submission. M Corporation has no
            obligation to provide me with any explanation as to why M Corporation may ultimately decide not to pursue my
            submission. M Corporation shall own all information or data it generates in connection with its evaluation
            exclusively and shall have no obligation to provide such information or data to me. In the event that M
            Corporation, in its sole and exclusive discretion, chooses to provide any explanation, information or data,
            I agree that M Corporation will be providing this AS IS and WITH ALL FAULTS, and shall have no liability
            whatsoever as to the validity or integrity of such. I agree to fully release, indemnify and hold M
            Corporation (along with their employees, officers and directors) harmless against any and all liabilities
            relating to M Corporation's explanation, information or data, or arising out of my use of such explanation,
            information or data.</li>
        <li><strong>PRIOR DEVELOPMENT </strong>I recognize that M Corporation is always innovating, working on ideas,
            products, processes, and technologies for use in new and existing products. Accordingly, I acknowledge that
            M Corporation may already have conceived of, developed, practiced, or filed patent applications on the same
            or substantially similar subject matter in the submission I am providing. I also recognize that while the
            idea may be new to me, it may already be in the public domain.</li>
        <li><strong>IP RIGHTS </strong>I have been strongly encouraged to seek the advice of an intellectual property
            professional (e.g. a patent lawyer) before submitting my idea in order to preserve and protect my rights. I
            agree that I will rely solely on my formal registered patent or design rights (collectively, "IP Rights") to
            protect information included with my Submission. I understand that the sole protection I have for
            information included in my Submission is limited to the scope of these IP Rights. I understand that
            disclosing my ideas to anyone (including M Corporation or any other party) on a non-confidential basis may
            cause me to lose valuable rights but that M Corporation cannot provide me with legal advice.</li>
        <li><strong>COMMERCIAL VENDOR/SUPPLIER </strong>If I wish to become a supplier or consultant relying on
            expertise or tangible assets to provide unique services or capability, I will still not disclose any
            confidential information pertaining to my expertise or tangible assets to M Corporation unless and until a
            formal confidentiality agreement is signed both by me and M Corporation. I understand that a confidentiality
            agreement will not prevent any party from independently developing the same or similar expertise or physical
            assets and offering their services to any other party (including but not limited to M Corporation). I
            understand that obtaining IP Rights is the only way to legally prohibit another party from having rights to
            commercially use independently developed technology or capability.</li>
        <li><strong>NO GRANT OF RIGHTS TO INSINKERATOR </strong>I am not granting M Corporation any rights to
            commercially exploit any IP Rights I may have that protect my Submission but by agreeing to these terms and
            submitting my idea I am granting M Corporation a worldwide, royalty free, fully paid up license and right to
            evaluate my idea.</li>
        <li><strong>NO OTHER AGREEMENTS </strong>I acknowledge and represent that there are no other agreements or
            understandings with M Corporation that apply to my Submission. In the event this representation is not
            accurate, I agree that any prior agreements or understandings are superseded by these terms and conditions,
            and that no modifications or exceptions to these terms and conditions will apply unless agreed to by both me
            and M Corporation in a written agreement signed by an authorized representative of M Corporation.</li>
        <li><strong>APPLICABLE LAW </strong>The website from which this document was downloaded ("Website"), these terms
            and conditions, and any Submission made pursuant to the Website is governed by the substantive law of and is
            subject to the exclusive jurisdiction of the United States and the State of Missouri, without any regard to
            any choice of laws provision that would cause the application of the laws of any other jurisdiction.</li>
    </ol>
    <a href="/disclosures/new" class="go-back-btn"><button>Accept Terms and Continue</button></a>
</div>

<%- include('./partials/footer') %>