<%- include('./partials/header') %>

<div class="container">
    <%- include('../messageError.ejs') %>
    <div id="grid-showpage-header" class="grid">
        <a href="/disclosures" class="go-back-btn">
            <button>Go Back</button></a>
        <input type="text" class="show-inline-block" id="url" />
        <input type="button" class="show-inline-block" id="copy-url-btn" value="Copy URL" />
    </div>
    <h1 id="pat-num-showpage"><%= disclosure.title %></h1>
    <section>
        <div class="grid">
            <p>Submitted: <%= disclosure.submitDate.toISOString().split('T')[0] %></p>
            <p>Author: <%= disclosure.author.firstName %> <%= disclosure.author.lastName %></p>
            <p><%= disclosure.author.email %></p>
            <% if (disclosure.response) { %>
            <p>Sent response: Yes</p>
            <% } else { %>
            <p>Sent response: No</p>
            <% } %>
            <% if (disclosure.patentPending) { %>
            <p>Patent Pending: Yes</p>
            <p>Patent No. <%= disclosure.patentNumber %></p>
            <% } else { %>
            <p>Patent Pending: No</p>
            <% } %>
        </div>
        <div id="disclosure-actions">
            <div>
                <h3>Delete Disclosure</h3>
                <p>Warning: Deletion is permanent.</p>
                <a href="#" id="confirm-delete-btn" class="go-back-btn">
                    <button>Delete?</button>
                </a>
                <form action="/disclosures/<%= disclosure._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="delete-btn">Delete!</button>
                </form>
            </div>
            <form id="disclosure-response" action="/disclosures/<%= disclosure._id %>?_method=PUT" method="POST"
                enctype="multipart/form-data">
                <h3>Responded to?</h3>
                <% if (disclosure.response) { %>
                <input type="radio" name="response" id="" value="true" checked>Yes
                <input type="radio" name="response" id="" value="false">No
                <% } else { %>
                <input type="radio" name="response" id="" value="true">Yes
                <input type="radio" name="response" id="" value="false" checked>No
                <% } %>
                <button type="submit">Update</button>
            </form>
        </div>
        <div>
            <p>Classification: <%= disclosure.classification %></p>
            <p>Type: <%= disclosure.type %></p>
            <p>Country: <%= disclosure.country %></p>
            <% if (disclosure.attachment.length > 0) { %>
            <p>Download Attachment: <a
                    href="/disclosures/<%= disclosure._id %>/<%= disclosure.attachment[0].fileName %>"
                    class="attachment-link"><%= disclosure.attachment[0].originalName %></a></p>
            <% } %>
            <p>Description: <%= disclosure.description %></p>
        </div>
    </section>
    <section>
        <p>Full contact information:</p>
        <p>author: <%= disclosure.author.firstName %> <%= disclosure.author.lastName%></p>
        <p>email: <%= disclosure.author.email %></p>
        <% const fields = ['address1', 'address2', 'city', 'state', 'zip', 'country', 'phone']; %>
        <% for (let field of fields) { %>
        <% if (disclosure.author.field) { %>
        <p><%= field %>: <%= disclosure.author.field %></p>
        <% } %>
        <% } %>
    </section>
</div>

<script type="module" src="/scripts/disclosures/show.js"></script>
<%- include('./partials/footer') %>