<%- include('./partials/header') %>

<div id="submitted-page" class="container">
    <%- include('../messageError.ejs') %>
    <h1>Thank you for your submission.</h1>
    <p>A message has been sent to your email confirming your submission.</p>
    <a href="#" class="go-back-btn"><button>M Corp Home ></button></a>
</div>

<%- include('./partials/footer') %>