:root {
    --cream-white: rgb(209, 209, 209);
    --hybrid-white: rgb(219, 219, 219);
    --bright-white: rgb(228, 228, 228);
    --hdp-blue: #004990;
}

html, body {
    color: black;
    background-color: var(--cream-white);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    min-height: 100vh;
    max-width: 100vw;
    /* overflow-x: hidden; */
}

.container {
    padding: 4vh 2vw 2vh;
    background-color: var(--cream-white);
    margin: 0 17vw;
    min-height: 65vh;
}

div.container h1 {
    margin-top: 0;
    font-size: 2.5em;
    font-weight: 300;
}

.gridContainer {
    display: grid;
    padding: 4vh 2vw 2vh;
    background-color: var(--cream-white);
    margin: 0 20vw;
    min-height: 65vh;
}

.hide {
    display: none;
}

.show-block {
    display: block;
}

.show-grid {
    display: grid;
}

.show-inline-block {
    display: inline-block;
}

.message {
    padding: 1rem;
    text-align: center;
    color: white;
    font-weight: bold;
}

.errorMessage {
    background-color: rgb(184, 0, 0);
}

/* NEW FORM */

label, input {
    display: block;
}

label {
    color: var(--hdp-blue);
    font-weight: bold;
    margin: 0.3em 0.3em 0.9em 0;
    text-align: left;
}

input {
    color: black;
    background-color: var(--hybrid-white);
    border: 1px solid grey;
    border-radius: 0;
    font-size: 1.0em;
    padding: 0.4em;
}

input:focus {
    border: 2px solid var(--hdp-blue);
}

form>* {
    display: block;
}

form h3 {
    font-weight: 400;
}

form button {
    color: var(--hdp-blue);
    border: 2px solid var(--hdp-blue);
}

form button:hover {
    color: var(--bright-white);
    background-color: var(--hdp-blue);
}

textarea {
    color: black;
    background-color: var(--hybrid-white);
    border: 1px solid grey;
}

textarea:focus {
    border: 2px solid var(--hdp-blue);
}

#form-title {
    width: 40vw;
}

.submit-date {
    display: none;
}

button[type=submit] {
    color: var(--hdp-blue);
    border: 2px solid var(--hdp-blue);
    display: inline-block;
}

button[type=submit]:hover {
    background-color: var(--hdp-blue);
    color: white;
}

/* INDEX PAGE */

.header-all-content {
    font-weight: 400;
    color: var(--hdp-blue);
}

h1#search-patents {
    color: var(--hdp-blue);
    font-weight: 300;
}

.search-bar {
    display: inline-block;
    padding-left: 1em;
    border: 2px solid grey;
    border-radius: 0;
    font-size: 1.1em;
    width: 95%;
}

.search-bar:hover, .search-bar:focus {
    padding-left: 1em;
    border: 2px solid var(--hdp-blue);
    border-radius: 0;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: transparent;
    color: white;
    border: 2px solid white;
    padding: 0.5em 1em;
}

h1#search-patents+section {
    margin-bottom: 2rem;
}

section+div.container {
    margin: 0 3rem;
    padding: 0;
}

ul.product-list {
    list-style: none;
    padding: 1.0em;
    margin: 0.3em 0;
    background-color: grey;
    color: var(--bright-white);
    font-weight: 400;
}

ul.product-list:hover {
    background-color: var(--hdp-blue);
    color: white;
}

ul.product-list li {
    padding: 0.3em;
    margin: 0;
    font-size: 1.5em;
}

ul.patent-list a {
    color: var(--cream-white);
    text-decoration: none;
    margin-bottom: 0.3em;
}

ul.patent-list a:hover {
    text-decoration: underline;
}

ul.product-list li a {
    text-decoration: none;
    color: var(--bright-white);
}

ul.product-list li a:hover {
    text-decoration: underline;
}

/* SHOW PAGE */

#grid-showpage-header {
    grid-template-columns: 7fr 1fr 1fr;
    grid-auto-rows: 3vh;
    align-items: center;
    font-size: 0.8em;
    background: none;
    padding: 0;
}

.go-back-btn button {
    font-weight: bold;
    color: var(--hdp-blue);
    border: 2px solid var(--hdp-blue);
    background: transparent;
}

.go-back-btn button:hover {
    background-color: var(--hdp-blue);
    color: var(--bright-white);
}

#url {
    padding: 0.4em 0.7em;
    margin: 0;
    border: 2px solid grey;
    justify-self: right;
}

#copy-url-btn {
    padding: 0.4em 0.7em;
    margin: 0;
    font-weight: 400;
    color: var(--hdp-blue);
    background: transparent;
    border: 2px solid var(--hdp-blue);
    justify-self: left;
}

#copy-url-btn:hover {
    color: var(--bright-white);
    background-color: var(--hdp-blue);
}

h1#pat-num-showpage {
    font-weight: 400;
    font-size: 2.5em;
    margin-top: 0;
    color: black;
}

div.grid {
    display: grid;
    grid-template-areas: "no no no no" "expire grant . post";
    background-color: var(--hdp-blue);
    padding: 1em;
    color: white;
}

h2#pat-num-showpage {
    grid-area: no;
    font-size: 2.0em;
    font-weight: 400;
    margin: 0;
}

div.grid p {
    margin-bottom: 0;
}

div.grid p:first-child {
    grid-area: grant;
}

div.grid p:nth-child(2) {
    grid-area: expire;
}

div.grid p:last-child {
    grid-area: post;
}

/* attachment links */

a.attachment-link {
    font-weight: 400;
    color: rgb(167, 120, 34);
    text-decoration: none;
}

a.attachment-link:hover {
    color: orange;
}

/* description */

h1#pat-num-showpage+section>p:last-child {
    margin-top: 1.5em;
    font-weight: 400;
    font-size: 1.3em;
    background-color: var(--cream-white);
    padding: 1.0em;
    color: black;
}

section+section {
    margin-top: 2.0em;
}

section+section p {
    color: black;
    font-weight: 400;
}

#edit-post-link {
    color: var(--hdp-blue);
    text-decoration: none;
    display: grid;
    justify-self: right;
}

p#delete-warning {
    margin-top: 2.0em;
    font-weight: 400;
    color: var(--hdp-blue);
}

form button.delete-btn {
    display: none;
    margin-top: 0.5em;
    color: red;
    border: 2px solid red;
}

form button.delete-btn:hover {
    background-color: red;
    color: white;
}

/* EDIT */

#edit-header {
    color: var(--hdp-blue);
    font-weight: 300;
}

/* LOGIN */

div.login-list {
    padding: 1em;
    background-color: var(--hdp-blue);
}

div.login-list p {
    color: white;
    font-weight: 400;
    padding: 0;
    margin: 0 0 0.5em 0;
}

ul.login-list {
    display: block;
    border: none;
    background: none;
    list-style: square;
    padding: 0 0 0 1.0em;
    margin: 0;
}

ul.login-list li {
    color: white;
    font-size: 1em;
}

div.login-list+h3 {
    font-weight: bold;
    color: var(--hdp-blue);
}

div.login-list+h3+form input {
    border: 2px solid grey;
}

div.login-list+h3+form input:hover, div.login-list+h3+form input:focus {
    border: 2px solid var(--hdp-blue);
}

p#domain {
    font-weight: 400;
    color: var(--hdp-blue);
}

button.login-button {
    display: block;
    margin-top: 0.5em;
    color: var(--hdp-blue);
    border: 2px solid var(--hdp-blue);
}

button.login-button:hover {
    background-color: var(--hdp-blue);
}

div.dashboard div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(12vh, auto);
    padding: 0 3em;
    column-gap: 3.0em;
}

div.dashboard div>* {
    text-align: center;
    border: 2px solid var(--hdp-blue);
    text-decoration: none;
    font-size: 2em;
    color: var(--hdp-blue);
    background: transparent;
}

div.dashboard div>* button {
    text-align: center;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 1em;
    font-weight: 300;
    color: var(--hdp-blue);
    border: none;
}

div.dashboard div>*:hover button {
    background-color: var(--hdp-blue);
    color: white;
}

div.dashboard+p {
    font-weight: 400;
}

/* HEADER PARTIAL */

div#header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    min-height: 20vh;
    position: relative;
    z-index: 1;
}

div#header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('https://images.unsplash.com/photo-1524521063541-f2c8b54d8226?ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80');
    background-size: cover;
    opacity: 0.4;
}

div#header div:first-of-type {
    margin-left: 10vw;
}

div#header div:nth-of-type(2) {
    justify-self: start;
}

div#header div a {
    grid-area: brand;
    justify-self: end;
    padding-right: 1.0rem;
}

div#header div h1 {
    grid-area: title;
    justify-self: start;
    font-size: 3.3em;
    font-weight: 400;
    display: inline;
}

div#header div p {
    font-weight: 400;
    display: inline;
    padding-top: 4vh;
    margin-right: 1vw;
}

div#header div:first-of-type a img {
    height: 10vh;
}

div#header div:nth-of-type(2) a img {
    padding-top: 8vh;
    height: 5vh;
}

/* FOOTER PARTIAL */

.footer-hr {
    margin: 0.1vh 0 2.0vh 0;
}

.footer-brand {
    margin: 0 1em 0 20vw;
}

.footer-a {
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--hdp-blue);
    padding-bottom: 2px;
    margin-bottom: 2.0vh;
    color: var(--hdp-blue);
    font-weight: 400;
}

/* JUST FOR THE HEADER */

@media(max-width: 1300px) {
    div#header {
        grid-template-columns: 1fr;
        row-gap: 1.5em;
    }
    div#header div:first-of-type {
        padding-top: 4vh;
    }
    div#header div:nth-of-type(2) {
        justify-self: end;
        margin: auto 6vw 0;
        align-self: center;
    }
    div#header div:nth-of-type(2) p {
        vertical-align: top;
    }
    div#header div:nth-of-type(2) a img {
        padding: 0 0 3vh 0;
    }
}

/* SMALL DISPLAY */

@media(max-width: 900px) {
    div#header {
        grid-template-areas: "brand" "title";
    }
    div#header a {
        justify-self: center;
        padding-right: 0;
        padding-top: 2rem;
        margin: auto;
    }
    div#header h1 {
        justify-self: center;
        font-size: 3.0em;
        margin: auto;
        margin-bottom: 1.5rem;
    }
    .container {
        text-align: center;
        background-color: var(--cream-white);
        margin: 0;
        padding: 3vh 1vw 2vh;
    }
    .search-bar {
        grid-area: input;
        width: 85%;
    }
    section+div.container {
        margin: 0 4rem;
        padding: 0;
    }
    ul.patent-list {
        padding-left: 0;
    }
    #form-title {
        width: 40vw;
    }
    .go-back-btn {
        justify-self: left;
    }
    .footer-a {
        margin: 0.5em 1em 0 20vw;
    }
    .footer-a:last-of-type {
        margin-bottom: 3vh;
    }
    button.login-button {
        margin: 0.5em auto;
    }
}

/* MOBILE DISPLAY */

@media(max-width: 600px) {
    div#header h1 {
        font-size: 2.0em;
    }
    .container {
        padding-top: 2vh;
        text-align: center;
    }
    .container h1 {
        margin-top: 0;
    }
    .search-bar {
        width: 80%;
    }
    section+div.container {
        margin: 0 1rem;
        padding: 0;
    }
    h1#pat-num-showpage {
        font-size: 2em;
    }
    h2#pat-num-showpage {
        font-size: 1.5em;
    }
    #grid-showpage-header {
        display: none !important;
    }
    div.dashboard {
        gap: 0.7em;
    }
    div.dashboard div {
        grid-template-columns: 1fr;
        row-gap: 1.0rem;
    }
    div.dashboard div>* {
        padding: 1em 0;
    }
    .footer-brand {
        margin: 0 1em 0 10vw;
    }
    button.login-button {
        display: inline-block;
        margin-left: 1vw;
    }
}