<hr class="footer-hr">
<a class="show-inline-block footer-a footer-brand" href="/">2020 M Corporation. All Rights Reserved.</a>
<a class="show-inline-block footer-a" href="/admin/login">Corporate Patent Management</a>
</body>
</html>