<%- include('./partials/header') %>

<div class="container">
    <%- include('../messageError.ejs') %>
    <a href="/patents/<%= patent._id %>" class="go-back-btn">
        <button>Go Back</button>
    </a>
    <h2 id="edit-header">Edit</h2>
    <h2>Patent No. <%= patent.number %> - <%= patent.title %></h2>
    <hr>
    <form action="/patents/<%= patent._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <h3>Patent Details</h3>
        <label for="">Number
            <input type="text" name="number" value="<%= patent.number %>" required>
        </label>
        <label for="">Title
            <input type="text" id="form-title" name="title" value="<%= patent.title %>" required>
        </label>
        <label for="textarea">Description
            <textarea name="description" id="textarea" class="show-block" cols="47"
                rows="12"><%= patent.description %></textarea>
        </label>
        <label for="">Grant Date
            <input type="date" name="grantDate" value="<%= patent.grantDate %>" required>
        </label>
        <label for="">Expiration Date
            <input type="date" name="expirationDate" value="<%= patent.expirationDate %>" required>
        </label>
        <input class="submit-date" type="text" name="postDate" value="<%= patent.postDate %>">
        <h3>Contact Details</h3>
        <label class="author" for="">First Name
            <input type="text" class="author" name="contact.firstName" value="<%= patent.contact.firstName %>" required>
        </label>
        <label class="author" for="">Last Name
            <input type="text" class="author" name="contact.lastName" value="<%= patent.contact.lastName %>" required>
        </label>
        <label class="author" for="" class="author">Email Address
            <input type="email" class="author" name="contact.email" value="<%= patent.contact.email %>" required>
        </label>
        <button type="submit">Submit ></button>
    </form>
</div>

<script src="/scripts/new.js"></script>
<%- include('./partials/footer') %>