<%- include('./partials/header') %>

<div class="container">
    <%- include('../messageError.ejs') %>
    <!-- Search -->
    <% if (manageMode) { %>
    <a href="/admin/dashboard" class="go-back-btn"><button style="margin-bottom: 1em;">Go Back</button></a>
    <% if (manageMode === 'edit') { %>
    <h1 id="search-patents">Edit a Patent:</h1>
    <% } else if (manageMode === 'delete') { %>
    <h1 id="search-patents">Delete a Patent:</h1>
    <% } %>
    <% } else { %>
    <!-- Search -->
    <h1 id="search-patents">Search Products or Patents:</h1>
    <% } %>
    <section>
        <input type="text" class="search-bar" placeholder="Product Name or Patent Name/No.">
    </section>
    <!-- Products -->
    <div class="container">
        <% for (let product of products) { %>
        <ul class="show-block product-list">
            <li class="show-block">&#8250; <%= product.name %></li>
            <ul class="hide patent-list">
                <% for (let patent of product.patents) { %>
                <a href="/patents/<%= patent._id %>" class="hide"><strong><%= patent.number %></strong> - <%= patent.title %></a>
                <% } %>
            </ul>
        </ul>
        <% } %>
    </div>
</div>

<script type="module" src="/scripts/patents/index.js"></script>
<%- include('./partials/footer') %>