<%- include('./partials/header') %>

<div class="container">
    <%- include('../messageError.ejs') %>
    <a href="/admin/dashboard" class="go-back-btn"><button>Go Back</button></a>
    <h2>List a Patent</h2>
    <hr>
    <form action="/patents" method="POST" enctype="multipart/form-data">
        <h3>Contact Details</h3>
        <label class="author" for="">First Name
            <input type="text" class="author" name="contact.firstName" required>
        </label>
        <label class="author" for="">Last Name
            <input type="text" class="author" name="contact.lastName" required>
        </label>
        <label class="author" for="" class="author">Email Address
            <input type="email" class="author" name="contact.email" required>
        </label>
        <h3>Patent Details</h3>
        <label for="">Number
            <input type="text" name="number" required>
        </label>
        <label for="">Title
            <input type="text" id="form-title" name="title" required>
        </label>
        <label for="textarea">Description
            <textarea name="description" id="textarea" class="show-block" cols="47" rows="12"></textarea>
        </label>
        <label for="">Attach a file(s):
            <p style="margin: 0.1em;">Max 3 files, 4MB, .pdf or .zip only (hold ctrl to select multiple files)</p>
            <input type="file" name="attachment" multiple>
        </label>
        <label for="">Grant Date
            <input type="date" name="grantDate" required>
        </label>
        <label for="">Expiration Date
            <input type="date" name="expirationDate" required>
        </label>
        <h3>Select the product(s) to which this patent applies (hold CTRL to select multiple, or to deselect)</h3>    
        <select name="products" id="" multiple required>
            <% for (let product of products) { %>
                <option value="<%= product._id %>"><%= product.name %></option>
            <% } %>
        </select>
        <p>If this patent does not belong to a product simply select "Miscellaneous"</p>
        <p>If the product to which this patent applies has not yet been created, select "Miscellaneous" for now. You can unlink "Miscellaneous" from its "Edit" page, and link this patent to the correct product during creating via "Add" under the "Products" section of the management dashboard</p>
        <input class="submit-date" type="text" name="postDate">
        <button type="submit">Submit ></button>
    </form>
</div>

<script src="/scripts/new.js"></script>
<%- include('./partials/footer') %>