<%- include('./partials/header') %>

<div class="container">
    <%- include('../messageError.ejs') %>
    <div id="grid-showpage-header" class="grid">
        <a href="/patents" class="go-back-btn">
            <button>Go Back</button></a>
        <input type="text" class="show-inline-block" id="url" />
        <input type="button" class="show-inline-block" id="copy-url-btn" value="Copy URL" />
    </div>
    <h1 id="pat-num-showpage"><%= patent.title %></h1>
    <section>
        <div class="grid">
            <h2 id="pat-num-showpage">Patent No. <%= patent.number %></h2>
            <p>Granted: <%= patent.grantDate %></p>
            <p>Expires: <%= patent.expirationDate %></p>
            <p>Posted: <%= patent.postDate.toISOString().split('T')[0] %></p>
        </div>
        <% if (patent.attachment.length > 0) { %>
        <% for (attachment of patent.attachment) { %>
        <p>Download Attachment: <a href="/patents/<%= patent._id %>/<%= attachment.fileName %>"
                class="attachment-link"><%= attachment.originalName %></a></p>
        <% } %>
        <% } %>
        <p><%= patent.description %></p>
    </section>
    <section>
        <p>Please direct inquiries to:</p>
        <p><%= patent.contact.firstName %> <%= patent.contact.lastName %></p>
        <p><%= patent.contact.email %></p>
    </section>
    <% if (manageMode) { %>
    <% if (manageMode === 'edit') { %>
    <a href="/patents/<%= patent._id %>/edit" class="go-back-btn">
        <button>Edit</button>
    </a>
    <% } else if (manageMode === 'delete') { %>
    <p id="delete-warning">Warning: Deletion is permanent</p>
    <a href="#" id="confirm-delete-btn" class="go-back-btn">
        <button>Delete?</button>
    </a>
    <form action="/patents/<%= patent._id %>?_method=DELETE" method="POST">
        <button type="submit" class="delete-btn">Delete!</button>
    </form>
    <% } %>
    <% } %>
</div>

<script type="module" src="/scripts/patents/show.js"></script>
<%- include('./partials/footer') %>