<%- include('./partials/header') %>

<div class="container">
    <%- include('../messageError.ejs') %>
    <h2>Success! You have created a new posting.</h2>
    <a href="/patents/<%= patent._id %>" class="go-back-btn"><button>View Post</button></a>
    <a href="/admin/dashboard" class="go-back-btn"><button>Go to Dashboard</button></a>
</div>

<%- include('./partials/footer') %>