<%- include('../patents/partials/header') %>

<div class="container">
    <%- include('../messageError.ejs') %>
    <a href="/products" class="go-back-btn"><button>Go Back</button></a>
    <h2>Edit Product</h2>
    <hr>
    <form action="/products/<%= product._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <h3>Product Details</h3>
        <label for="">Name
            <input type="text" name="name" value="<%= product.name %>" required>
        </label>
        <label for="textarea">Description
            <textarea name="description" id="textarea" class="show-block" cols="47"
                rows="12"><%= product.description %></textarea>
        </label>
        <label for="">Release Year
            <input type="number" name="releaseYear" value="<%= product.releaseYear %>" required>
        </label>
        <h3>Select any applicable patents (hold CTRL to select multiple, or to deselect)</h3>
        <select name="patents" id="" multiple>
            <% for (let patent of patents) { %>
            <% if (product.patents.includes(patent._id)) { %>
            <option value="<%= patent._id %>" selected><%= patent.number %> - <%= patent.title %></option>
            <% } else { %>
            <option value="<%= patent._id %>"><%= patent.number %> - <%= patent.title %></option>
            <% } %>
            <% } %>
        </select>
        <p>Currently linked patents are selected by default</p>
        <button type="submit">Submit ></button>
    </form>
    <h2>Delete Product</h2>
    <hr>
    <h3>Warning: Deletion is permanent. Deleting this product will not delete any of its associated patents. Patents must be manually deleted.</h3>
    <a href="#" id="confirm-delete-btn" class="go-back-btn">
        <button>Delete?</button>
    </a>
    <form action="/products/<%= product._id %>?_method=DELETE" method="POST">
        <button type="submit" class="delete-btn">Delete!</button>
    </form>
</div>

<script src="/scripts/new.js"></script>
<script src="/scripts/products/edit.js"></script>
<%- include('../patents/partials/footer') %>