<%- include('../patents/partials/header') %>

<div class="container">
    <%- include('../messageError.ejs') %>
    <!-- Search -->
    <a href="/admin/dashboard" class="go-back-btn"><button style="margin-bottom: 1em;">Go Back</button></a>
    <h1 id="search-patents">Edit/Delete a Product:</h1>
    <section>
        <input type="text" class="search-bar" placeholder="Name or #">
    </section>
    <!-- Products -->
    <div class="container">
        <% for (let product of products) { %>
        <ul class="show-block product-list">
            <li class="show-block"><a href="/products/<%= product.id %>/edit"><%= product.name %></a></li>
        </ul>
        <% } %>
    </div>
</div>

<script type="module" src="/scripts/patents/index.js"></script>
<%- include('../patents/partials/footer') %>