<%- include('../patents/partials/header') %>

<div class="container">
    <%- include('../messageError.ejs') %>
    <a href="/admin/dashboard" class="go-back-btn"><button>Go Back</button></a>
    <h2>Add a Product</h2>
    <hr>
    <form action="/products" method="POST" enctype="multipart/form-data">
        <h3>Product Details</h3>
        <label for="">Name
            <input type="text" name="name" required>
        </label>
        <label for="textarea">Description
            <textarea name="description" id="textarea" class="show-block" cols="47" rows="12"></textarea>
        </label>
        <label for="">Release Year
            <input type="number" name="releaseYear" value="2020" required>
        </label>
        <h3>Select any existing applicable patents (hold CTRL to select multiple, or to deselect)</h3>
        <select name="patents" id="" multiple>
            <% for (let patent of patents) { %>
                <option value="<%= patent._id %>"><%= patent.number %> - <%= patent.title %></option>
            <% } %>
        </select>
        <p>If applicable patents for this product are not yet listed, you can link new patents to this product while creating the patent(s) via "Add" under the "Patents" section of the management dashboard</p>
        <button type="submit">Submit ></button>
    </form>
</div>

<script src="/scripts/new.js"></script>
<%- include('../patents/partials/footer') %>